<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!-- registrationSuccessModal.ejs -->
<div class="modal fade" id="registrationSuccessModal" tabindex="-1" role="dialog" aria-labelledby="registrationSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registrationSuccessModalLabel">Registration Successful</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><%= message %></p>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    // Automatically close the modal after 3 seconds and redirect to "/"
    setTimeout(function() {
      $('#registrationSuccessModal').modal('hide');
      window.location.href = "/";
    }, 3000);
  </script>
  
</body>
</html>